html {
background-image: url("0.png");
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif,uni_05_53regular;
}

section
{
	margin-top: 50px;
    flex: 0.7;
	font-family:hackedregular;
}
aside
{
	float: right;
	margin:0 0px 0 730px;
    background-color: #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 20px;
}
.tab div {
  display: none;
}

.tab div:target {
  display: block;
}



.info {
  position: fixed;
  margin-top: 400px;
  margin-left: 450px;
  text-shadow: 2px 1px black;

  color: #E0241A;

  padding: 10px;
  font-size: 35px;
  width:1000px;
  height: 500px;
}










