body, html {
	height: 100%;
	margin: 0;
}

	.grenier {
	  /* The image used */
	  background-image: url("coffre_ouvert.png"); fixed;

	  /* Full height */
	  height: 100%; 

	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  
	}
body


